<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <div class="card">
      <img src="/<%= src %>" width="200" />
      <h3><%= userInfo.userid%> 님 환영합니다!</h3>
      <span>비밀번호 : <%=userInfo.password %></span><br />
      <span>이름 : <%= userInfo.username%></span><br />
      <span>나이 : <%= userInfo.age%></span><br />
    </div>
  </body>
</html>
